<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APLanguageResourceMergeStrategy</key>
	<string>0</string>
	<key>APProductType</key>
	<string>release</string>
	<key>BuildMachineOSBuild</key>
	<string>18G87</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>支付宝</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>AlipayWallet</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AliPayForDebug/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
				<string>AppIcon83.5x83.5</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.alipay.iphoneclient</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AlipayWallet</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.1.90</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alipays</string>
				<string>alipayqr</string>
				<string>alipay</string>
				<string>alipaymo</string>
				<string>alipaytransfer</string>
				<string>wx203a1671e701a3ae</string>
				<string>wb926328166</string>
				<string>sinaweibosso.926328166</string>
				<string>alipayauth</string>
				<string>aliminipayauth</string>
				<string>tbopen23086819</string>
				<string>aw</string>
				<string>alipayre</string>
				<string>alipaysso</string>
				<string>alipayshare</string>
				<string>alipaytlshare</string>
				<string>alipaysopensdk</string>
				<string>dingoamqxw6mcgmfikhues</string>
				<string>dingoaogcpqa4l11w9fkga</string>
				<string>alipayauthlogin</string>
				<string>dingoad5zx837cletmybta</string>
				<string>alicertpay</string>
				<string>alipayauthtb</string>
				<string>alipaymatrixbwf0cml3</string>
				<string>alipaytodaywidget</string>
				<string>alipay3dtouch</string>
				<string>alipayshareextension</string>
				<string>apmqpdispatch</string>
				<string>alipaymatrixszcj01</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1103276089</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentApiIdentifier</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1103276089.content</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>mqqapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41C2A839</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>10.1.90.8000</string>
	<key>Channels</key>
	<string>apple-iphone</string>
	<key>DTAppStoreToolsBuild</key>
	<string>11C29</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>17B102</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>13.2</string>
	<key>DTSDKBuild</key>
	<string>17B102</string>
	<key>DTSDKName</key>
	<string>iphoneos13.2</string>
	<key>DTXcode</key>
	<string>1130</string>
	<key>DTXcodeBuild</key>
	<string>11C29</string>
	<key>Feedback</key>
	<false/>
	<key>HideSplashIndirectStart</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>mqqapi</string>
		<string>alipays</string>
		<string>alipayqr</string>
		<string>alipay</string>
		<string>wx203a1671e701a3ae</string>
		<string>wb926328166</string>
		<string>aw</string>
		<string>926328166</string>
		<string>alipayauth</string>
		<string>aliminipayauth</string>
		<string>alipayre</string>
		<string>alipaysso</string>
		<string>alipayshare</string>
		<string>alipaytlshare</string>
		<string>laiwang</string>
		<string>laiwangsso</string>
		<string>mybank</string>
		<string>afwealth</string>
		<string>taobao</string>
		<string>yulebao</string>
		<string>taobaowebview</string>
		<string>tbmovie</string>
		<string>tmall</string>
		<string>taobaotravel</string>
		<string>momochs</string>
		<string>taobaolife</string>
		<string>iosamap</string>
		<string>maps</string>
		<string>comgooglemaps</string>
		<string>baidumap</string>
		<string>TaobaoMoviePhoneClient</string>
		<string>lashou</string>
		<string>http</string>
		<string>https</string>
		<string>mailto</string>
		<string>tel</string>
		<string>telprompt</string>
		<string>tenpay</string>
		<string>com.icbc.iphoneclient</string>
		<string>wx2654d9155d70a468</string>
		<string>meituan0000</string>
		<string>dianping</string>
		<string>diditaxi</string>
		<string>cn.12306</string>
		<string>mtxx</string>
		<string>youku</string>
		<string>wb3214731103</string>
		<string>sinaweibo</string>
		<string>sinaweibosso</string>
		<string>sinaweibohd</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>qiandun</string>
		<string>dingtalk</string>
		<string>dingtalk-open</string>
		<string>alitripm</string>
		<string>aliddz</string>
		<string>alipoker</string>
		<string>alixxx</string>
		<string>alizll</string>
		<string>taobaosso2016</string>
		<string>aliconan</string>
		<string>alifortress</string>
		<string>amapuri</string>
		<string>mssdkscan2</string>
		<string>jinjianginn</string>
		<string>HanTing</string>
		<string>Homeinn</string>
		<string>alisdkplatenoota</string>
		<string>platenobtota</string>
		<string>cainiao</string>
		<string>diditravel</string>
		<string>wdkhema</string>
		<string>wbmain</string>
		<string>supernanopetbigbang</string>
		<string>lezhuobztcsalipay</string>
		<string>aladinfunplanetpigalipay</string>
		<string>koubei</string>
		<string>teamworkshare</string>
		<string>fkmmx</string>
		<string>ngd4c45c04e39842a7a77d81647afaa124</string>
		<string>knowingdata</string>
		<string>alipaym</string>
		<string>alipayhk</string>
		<string>DamaiIphoneAAA</string>
		<string>ap2017051807276112</string>
		<string>scme20170505071266614273df</string>
		<string>fff2</string>
		<string>LonfundogcartoonAli</string>
		<string>fengqingyang</string>
		<string>itms-beta</string>
		<string>diyibus</string>
		<string>snssdk141</string>
		<string>qqnews</string>
		<string>fleamarket</string>
		<string>kwai</string>
		<string>hellobike</string>
		<string>ctclient</string>
	</array>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>LogLevel</key>
	<string>-1</string>
	<key>MinimumOSVersion</key>
	<string>12.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>若不允许，你将无法在支付宝中使用共享单车、智能设备、打印机等服务。</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>若不允许，你将无法连接并绑定你的智能设备，也无法使用高德地图的蓝牙室内导航功能。</string>
	<key>NSCalendarsUsageDescription</key>
	<string>若不允许，你将无法收到未来日程相关提醒。</string>
	<key>NSCameraUsageDescription</key>
	<string>若不允许，你将无法在支付宝中使用扫码、刷脸、拍照及拍摄小视频等功能。</string>
	<key>NSContactsUsageDescription</key>
	<string>支付宝将上传通讯录至服务器以匹配及推荐朋友，给朋友转账更方便(未经您同意，通讯录信息不会用于其他用途)。</string>
	<key>NSFaceIDUsageDescription</key>
	<string>如不允许，你将无法使用面容 ID 完成支付、解锁等操作。</string>
	<key>NSHealthShareUsageDescription</key>
	<string>若不允许，你将无法记录你的运动数据。</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>若不允许，你将无法记录你的运动数据。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>若不允许，你将无法在支付宝中使用商家服务、本地生活、发送地理位置等定位相关功能。</string>
	<key>NSLocationUsageDescription</key>
	<string>若不允许，你将无法在支付宝中使用商家服务、本地生活、发送地理位置等定位相关功能。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>若不允许，你将无法在支付宝中使用商家服务、本地生活、发送地理位置等定位相关功能。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>若不允许，你将无法在支付宝使用语音消息、小视频及语音搜索等功能。</string>
	<key>NSMotionUsageDescription</key>
	<string>若不允许，你将无法记录你的运动数据。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>若不允许，你将无法在支付宝中发送及保存照片。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>若不允许，你将无法在支付宝中发送及保存照片。</string>
	<key>NSRemindersUsageDescription</key>
	<string>若不允许，你将无法收到未来日程相关提醒。</string>
	<key>NSSiriUsageDescription</key>
	<string>若不允许，你将无法通过Siri使用支付宝提供的相关服务。</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ANXSuggestionsIntent</string>
		<string>com.alipay.iphoneclient.suggestions</string>
	</array>
	<key>PackageType</key>
	<string>release</string>
	<key>Product ID</key>
	<string>IPHONE_1ND</string>
	<key>Product Name</key>
	<string>ALIPAY_WALLET</string>
	<key>Product Version</key>
	<string>10.1.90.8000</string>
	<key>UIAppFonts</key>
	<array>
		<string>APCommonUI.bundle/iconfont/auiconfont.ttf</string>
		<string>AliCreditResources.bundle/alciconfont.ttf</string>
		<string>O2O.bundle/DINCondensedC.ttf</string>
		<string>APCommonUI.bundle/font/AlipayNumber.ttf</string>
		<string>APCommonUI.bundle/font/DINPro-Medium(Alipay).ttf</string>
	</array>
	<key>UIApplicationShortcutWidget</key>
	<string>com.alipay.iphoneclient.todaywidget</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>fetch</string>
		<string>network-authentication</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>12.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1200-Portrait-2688h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 896}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>12.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1200-Portrait-1792h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 896}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>11.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1100-Portrait-2436h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 812}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-Portrait-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-Portrait</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>User Agent</key>
	<string>ALIPAY_FOR_IOS</string>
	<key>mPaaSCrypt</key>
	<dict>
		<key>Crypt</key>
		<true/>
		<key>DefaultGlobalCrypt</key>
		<false/>
		<key>GWWhiteList</key>
		<array>
			<string>https://mobilegw.alipay.com/mgw.htm</string>
		</array>
		<key>PubKey</key>
		<string>-----BEGIN PUBLIC KEY-----
MFkwEwYHKoZIzj0CAQYIKoEcz1UBgi0DQgAEDFBngGdrNETuPwBXaqeNqMuHZ57J
mUbBc3lm2QkA9kFhSlY0PYaYA8KYGrGxHUXeGvN6v6SZiNjru+bYQXC+FA==
-----END PUBLIC KEY-----</string>
		<key>RSA/ECC/SM2</key>
		<string>SM2</string>
	</dict>
	<key>rpc_region_conf</key>
	<dict>
		<key>CNT</key>
		<dict>
			<key>MgwUrl</key>
			<string>https://mobilegw.alipay.cn/mgw.htm</string>
		</dict>
		<key>HK</key>
		<dict>
			<key>AppId</key>
			<string>BE9C457241710</string>
			<key>AppKey</key>
			<string>BE9C457241710</string>
			<key>MgwUrl</key>
			<string>https://iclientgw.alipay.hk/mgw.htm</string>
			<key>WorkspaceId</key>
			<string>default</string>
		</dict>
		<key>MO</key>
		<dict>
			<key>AppId</key>
			<string>ALIPAY_WALLET_MO</string>
			<key>AppKey</key>
			<string>ALIPAY_WALLET_MO</string>
			<key>MgwUrl</key>
			<string>https://imgs.alipaymo.com/mgw.htm</string>
			<key>WorkspaceId</key>
			<string>default</string>
		</dict>
		<key>MO_AC</key>
		<dict>
			<key>AppId</key>
			<string>ALIPAY_WALLET_MO</string>
			<key>AppKey</key>
			<string>ALIPAY_WALLET_MO</string>
			<key>MgwUrl</key>
			<string>https://imgs-ac.alipay.com/imgw.htm</string>
			<key>WorkspaceId</key>
			<string>default</string>
		</dict>
		<key>MO_XHBANK</key>
		<dict>
			<key>AppId</key>
			<string>16BE69B211037</string>
			<key>AppKey</key>
			<string>16BE69B211037_IOS</string>
			<key>MgwUrl</key>
			<string>https://xhmpaasgw.mybank.cn/mgw.htm</string>
			<key>WorkspaceId</key>
			<string>prod</string>
		</dict>
	</dict>
</dict>
</plist>
